<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>Sign Up</h2>

    <form id="signup-form">
        <input type="text" id="name" placeholder="Name" required /><br><br>
        <input type="email" id="email" placeholder="Email" required /><br><br>
        <input type="password" id="password" placeholder="Password" required /><br><br>
        <input type="date" id="dob" placeholder="Date of Birth" /><br><br>
        <button type="submit">Sign Up</button>
    </form>

    <p>Already have an account? <a href="login.html">Login here</a></p>

    <script src="/static/signup.js" defer></script>
</body>
</html>
